<div style="text-align: center; margin: 0 auto;">
  {{ this.lockName }}
</div>

<!--
  Displaying digits lock
-->

<div id="digipad" *ngIf="this.lockType == 'digits'">
  <div
    *ngFor="let item of [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]"
    class="key"
    (click)="inputValue = ''.concat(inputValue, item); input.value = inputValue"
  >
    {{ item }}
  </div>
  <input
    (input)="inputValue = $event.target.value; input.value = inputValue"
    (keyup.enter)="checkCode()"
    #input
  />
</div>

<!--
  Displaying characters lock
-->

<div id="chars" *ngIf="this.lockType == 'chars'">
  <input type="text" (input)="changeFocus(1)" maxlength="1" #input1 />
  <input type="text" (input)="changeFocus(2)" maxlength="1" #input2 />
  <input type="text" (input)="changeFocus(3)" maxlength="1" #input3 />
  <input type="text" (input)="changeFocus(4)" maxlength="1" #input4 />
  <input type="text" (input)="changeFocus(5)" maxlength="1" #input5 />
  <input type="text" (input)="changeFocus(6)" maxlength="1" #input6 />
</div>

<!--
  Displaying directions lock
-->

<div id="directionpad" *ngIf="this.lockType == 'directions'">
  <div
    *ngFor="let direction of ['&lt;', '^', '&gt;', 'v']"
    class="key"
    (click)="addDirectionInput(direction)"
  >
    {{ direction }}
  </div>
  <div class="directions-input-container">
    <div *ngFor="let inputIndex of [0, 1, 2, 3]" class="input-display">
      {{ this.inputValue[inputIndex] ? this.inputValue[inputIndex] : " " }}
    </div>
    <div
      (click)="inputValue = inputValue.substr(0, inputValue.length - 1)"
      class="delete-button"
    >
      Suppr
    </div>
  </div>
</div>

<!--
  Displaying colors lock
-->

<div id="colorpad" *ngIf="this.lockType == 'colors'">
  <div
    *ngFor="let color of this.colors"
    class="key"
    style="background : {{ color.value }}"
    (click)="addColorInput(color)"
  ></div>
  <div class="colors-input-container">
    <div
      *ngFor="let inputIndex of [0, 1, 2, 3, 4]"
      class="input-display"
      style="background : {{ this.inputValueColors[inputIndex] }}"
    ></div>
    <div (click)="delColorInput()" class="delete-button">
      Suppr
    </div>
  </div>
</div>

<!--
  Displaying buttons shared by all types of locks
-->

<div>
  <button
    type="button"
    class="btn btn-primary"
    (click)="checkCode()"
    #submitButton
  >
    Valider
  </button>
  <button
    type="button"
    class="btn btn-primary"
    (click)="this.activeModal.close()"
  >
    Quitter
  </button>
  <button type="button" class="btn btn-primary" (click)="clearInput()">
    Clear
  </button>
</div>
