<div id="digipad" *ngIf="this.lockType == 'digits'">
  <div *ngFor="let item of [1,2,3,4,5,6,7,8,9,0]" class="key"
    (click)="inputValue =''.concat(inputValue,item); input.value = ''.concat(input.value,item)"> {{item}}</div>
  <input (input)="inputValue = $event.target.value" (keyup.enter)="checkCode()" #input />
  <button type="button" class="btn btn-primary" (click)="checkCode()" *ngIf="inputValue">
    Valider
  </button>
  <button type="button" class="btn btn-primary" (click)="inputValue=''; input.value = ''" *ngIf="inputValue">
    Clear
  </button>
</div>

<div id="digipad" *ngIf="this.lockType == 'directions'">
  <div *ngFor="let item of ['^','&gt;','&lt;','v']" class="key"
    (click)="inputValue =''.concat(inputValue,item); input.value = ''.concat(input.value,item)"> {{item}}</div>
  <input (input)="inputValue = $event.target.value" (keyup.enter)="checkCode()" #input />
  <button type="button" class="btn btn-primary" (click)="checkCode()" *ngIf="inputValue">
    Valider
  </button>
  <button type="button" class="btn btn-primary" (click)="inputValue=''; input.value = ''" *ngIf="inputValue">
    Clear
  </button>
</div>
