<div class="main">
  <img (click)="this.openLockDialog('A', 'digits')" src="../../assets/images/lock.png" height="15px" width="15px" />
  <img (click)="this.openLockDialog('E', 'colors')" src="../../assets/images/lock.png" height="15px" width="15px" />
  <img (click)="this.openLockDialog('F', 'directions')" src="../../assets/images/lock.png" height="15px" width="15px" />
</div>

<div>
  Le scénario sera ici lalalalalalalaalalalalalal
  <br />
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia non
  excepturi, ea blanditiis voluptatum fugit officia sequi rerum natus tempore
  sit deleniti? Culpa cupiditate autem impedit provident exercitationem est eos!
</div>
