<div id="plan">
  <div class="room open">
    <img
      (click)="this.openLockDialog('A')"
      src="../../assets/images/lock.png"
      height="15px"
      width="15px"
    />
    <img
      (click)="this.openLockDialog('B')"
      src="../../assets/images/lock.png"
      height="15px"
      width="15px"
    />
    <img
      (click)="this.openLockDialog('F')"
      src="../../assets/images/lock.png"
      height="15px"
      width="15px"
    />
    <img
      (click)="this.openLockDialog('H')"
      src="../../assets/images/lock.png"
      height="15px"
      width="15px"
    />
    <img src="../../assets/images/laptop.png" height="35px" width="35px" />
    <img src="../../assets/images/smartphone.png" height="20px" width="20px" />
  </div>

  <div
    class="room"
    [ngClass]="{ open: this.locksUnlocked.includes('E') }"
  ></div>

  <div
    class="room"
    [ngClass]="{ open: this.locksUnlocked.includes('B') }"
  ></div>

  <div class="room" [ngClass]="{ open: this.locksUnlocked.includes('B') }">
    <div *ngIf="this.locksUnlocked.includes('B')">
      <img
        (click)="this.openLockDialog('E')"
        src="../../assets/images/lock.png"
        height="15px"
        width="15px"
      />
      <img
        (click)="this.openLockDialog('D')"
        src="../../assets/images/lock.png"
        height="15px"
        width="15px"
      />
      <img
        (click)="this.openLockDialog('G')"
        src="../../assets/images/lock.png"
        height="15px"
        width="15px"
      />
    </div>
  </div>

  <div
    class="room"
    [ngClass]="{ open: this.locksUnlocked.includes('A') }"
  ></div>
  <div
    class="room"
    [ngClass]="{ open: this.locksUnlocked.includes('B') }"
  ></div>
  <div
    class="room"
    [ngClass]="{ open: this.locksUnlocked.includes('B') }"
  ></div>
  <div
    class="room"
    [ngClass]="{ open: this.locksUnlocked.includes('D') }"
  ></div>
  <div
    class="room"
    [ngClass]="{ open: this.locksUnlocked.includes('G') }"
  ></div>
</div>

<div style="display: flex; position: relative;">
  <div
    *ngFor="let item of ['0', 'A', 'B', 'C', 'D', 'E', 'F', 'G']"
    style="margin: 0 auto;"
  >
    <div
      *ngIf="this.locksUnlocked.includes(item)"
      class="scenario-bit"
      (click)="openScenarioDialog(this.scenarioBits[item])"
    >
      {{ this.scenarioBits[item].title }}
    </div>
  </div>
</div>
