$color-border: hotpink;

@mixin border {
  border: 4px solid $color-border;
}

@mixin utility-border {
  border: 2px solid $color-border;
}

.main {
  @include border;

  border-width: 4px;
}

#plan {
  width: 1000px;
  max-height: 600px;
  margin: auto;
}

.room {
  border: black 4px solid;
  vertical-align: middle;
  position: relative;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background: #800000;
  cursor: not-allowed;
}
.buffet-right {
  background: #800000;
}

.open {
  background: #32a850;
  background-size: 400% 400%;
  animation: gradient 1.5s cubic-bezier(0.18, 0.94, 0.77, 1.4);
  cursor: auto;
}

@keyframes gradient {
  0% {
    background: #800000;
  }
  100% {
    background: #32a850;
  }
}
/******************************************/
/*  ROOMS                                 */
/******************************************/
div[class^="room"]:nth-child(1) {
  border: black 4px solid;
  width: 1000px;
  height: 545px;
  position: relative;
  * {
    z-index: 1000;
    position: absolute;
  }
  img {
    cursor: pointer;
  }
  img:nth-child(1) {
    top: 345px;
    left: 260px;
  }
  img:nth-child(2) {
    top: 295px;
    left: 408px;
  }
  img:nth-child(3) {
    top: 195px;
    left: 375px;
  }
  img:nth-child(4) {
    top: 5px;
    left: 320px;
  }
  img:nth-child(5) {
    top: 200px;
    left: 110px;
    cursor: auto;
  }
  img:nth-child(6) {
    top: 207px;
    left: 150px;
    cursor: auto;
  }
  &::after {
    content: "";
    border: 4px black solid;
    position: absolute;
    top: 420px;
    left: -3px;
    width: 183px;
    height: 120px;
    background: repeating-linear-gradient(
      -45deg,
      black,
      black 5px,
      #800000 5px,
      #800000 10px
    );
    cursor: not-allowed;
  }

  .table {
    border: 2px black solid;
    width: 80px;
    height: 150px;
    top: 90px;
    left: 100px;
    z-index: 0;
  }

  .buffet-right {
    border: 2px black solid;
    width: 45px;
    height: 120px;
    top: 145px;
    left: 361px;
    z-index: 0;
  }
}

div[class^="room"]:nth-child(2) {
  top: -545px;
  left: 405px;
  width: 320px;
  height: 270px;
}

div[class^="room"]:nth-child(3) {
  top: -545px - 270px;
  left: 720px;
  width: 280px;
  height: 270px;
}

div[class^="room"]:nth-child(4) {
  top: -545px - 270px;
  border-top: none;
  left: 405px;
  width: 430px;
  height: 275px;
  * {
    z-index: 1000;
    position: absolute;
    cursor: pointer;
  }
  img:nth-child(1) {
    top: -23px;
    left: 250px;
  }
  img:nth-child(2) {
    top: 78px;
    left: 380px;
  }
  img:nth-child(3) {
    top: 25px;
    left: 428px;
  }
}

div[class^="room"]:nth-child(5) {
  top: -545px - 270px - 205px;
  left: 180px;
  width: 229px;
  height: 205px;
}

div[class^="room"]:nth-child(6) {
  top: -545px - 270px - 410px;
  left: 405px;
  width: 115px;
  height: 105px;
}

div[class^="room"]:nth-child(7) {
  top: -545px - 270px - 414px;
  left: 405px;
  width: 225px;
  height: 104px;
}

div[class^="room"]:nth-child(8) {
  top: -545px - 270px - 619px;
  left: 626px;
  width: 209px;
  height: 205px;
}

div[class^="room"]:nth-child(9) {
  top: -545px - 270px - 898px;
  left: 831px;
  width: 169px;
  height: 279px;
}

.lockOpened {
  visibility: hidden;
}

.scenario-bit-button {
  margin-left: 3.7em;
  background: #152629;
  padding: 0.5em 1em;
  font-weight: bold;
  font-size: 1.1em;
  color: white;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s ease-out;

  &::before,
  &::after {
    content: "";
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 50%;
    height: 100%;
    border-bottom: 2px solid #152629;
    border-top: 5px solid #152629;
    font-weight: bold;
    display: flex;
    align-items: center;
    transition: left 0.5s ease-out;
  }
  &::before {
    top: 0;
    left: -50%;
  }
  &::after {
    top: 0;
    left: 100%;
  }
  &:hover {
    background: white;
    color: #152629;
    transition: all 0.5s ease-out;
  }
  &:hover::before,
  &:hover::after {
    left: 0;
    transition: left 0.5s ease-out;
  }
  &:hover::before {
    left: 50%;
  }
}

.game-ended {
  position: absolute;
  width: 70%;
  top: 30%;
  left: 15%;
  z-index: 100000;
  background-color: #152629;
  color: white;
  text-align: center;
  font-size: 10rem;
  font-weight: bold;

  &::after {
    overflow: hidden;
    position: absolute;
    top: -300px;
    left: -300px;
    width: 101vw;
    height: 110vh;
    content: "";
  }
}
